# Exploring the NOAA NCEI Precipitation Data
Data downloaded from [the NOAA website](https://www.ncei.noaa.gov/access) in the global summary of the year (GSOY) format in a CSV

In [1]:
import pandas as pd
# pd.set_option("display.max_columns", 40)

In [2]:
seattle = pd.read_csv("./data/USW00094290.csv")

In [3]:
seattle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 76 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   STATION          33 non-null     object
 1   DATE             33 non-null     int64
 2   LATITUDE         33 non-null     float64
 3   LONGITUDE        33 non-null     float64
 4   ELEVATION        33 non-null     float64
 5   NAME             33 non-null     object
 6   CDSD             30 non-null     float64
 7   CDSD_ATTRIBUTES  0 non-null      float64
 8   CLDD             30 non-null     float64
 9   CLDD_ATTRIBUTES  30 non-null     object
 10  DP01             29 non-null     float64
 11  DP01_ATTRIBUTES  29 non-null     object
 12  DP10             29 non-null     float64
 13  DP10_ATTRIBUTES  29 non-null     object
 14  DP1X             29 non-null     float64
 15  DP1X_ATTRIBUTES  29 non-null     object
 16  DSND             21 non-null     float64
 17  DSND_ATTRIBUTES  0 non-null      float64
 18  DSNW             21 non-null     float64
 19  DSNW_ATTRIBUTES  21 non-null     object
 20  DT00             30 non-null     float64
 21  DT00_ATTRIBUTES  30 non-null     object
 22  DT32             30 non-null     float64
 23  DT32_ATTRIBUTES  30 non-null     object
 24  DX32             30 non-null     float64
 25  DX32_ATTRIBUTES  30 non-null     object
 26  DX70             30 non-null     float64
 27  DX70_ATTRIBUTES  30 non-null     object
 28  DX90             30 non-null     float64
 29  DX90_ATTRIBUTES  30 non-null     object
 30  DYFG             12 non-null     float64
 31  DYFG_ATTRIBUTES  12 non-null     object
 32  DYHF             10 non-null     float64
 33  DYHF_ATTRIBUTES  10 non-null     object
 34  DYTS             12 non-null     float64
 35  DYTS_ATTRIBUTES  12 non-null     object
 36  EMNT             30 non-null     float64
 37  EMNT_ATTRIBUTES  30 non-null     object
 38  EMSD             21 non-null     float64
 39  EMSD_ATTRIBUTES  21 non-null     object
 40  EMSN             21 non-null     float64
 41  EMSN_ATTRIBUTES  21 non-null     object
 42  EMXP             29 non-null     float64
 43  EMXP_ATTRIBUTES  29 non-null     object
 44  EMXT             30 non-null     float64
 45  EMXT_ATTRIBUTES  30 non-null     object
 46  FZF0             30 non-null     float64
 47  FZF0_ATTRIBUTES  30 non-null     object
 48  FZF1             24 non-null     float64
 49  FZF1_ATTRIBUTES  24 non-null     object
 50  FZF2             11 non-null     float64
 51  FZF2_ATTRIBUTES  11 non-null     object
 52  FZF3             8 non-null      float64
 53  FZF3_ATTRIBUTES  8 non-null      object
 54  FZF5             30 non-null     float64
 55  FZF5_ATTRIBUTES  30 non-null     object
 56  FZF6             26 non-null     float64
 57  FZF6_ATTRIBUTES  26 non-null     object
 58  FZF7             13 non-null     float64
 59  FZF7_ATTRIBUTES  13 non-null     object
 60  FZF8             4 non-null      float64
 61  FZF8_ATTRIBUTES  4 non-null      object
 62  HDSD             30 non-null     float64
 63  HDSD_ATTRIBUTES  30 non-null     float64
 64  HTDD             30 non-null     float64
 65  HTDD_ATTRIBUTES  30 non-null     object
 66  PRCP             29 non-null     float64
 67  PRCP_ATTRIBUTES  29 non-null     object
 68  SNOW             21 non-null     float64
 69  SNOW_ATTRIBUTES  21 non-null     object
 70  TAVG             30 non-null     float64
 71  TAVG_ATTRIBUTES  30 non-null     object
 72  TMAX             30 non-null     float64
 73  TMAX_ATTRIBUTES  30 non-null     object
 74  TMIN             30 non-null     float64
 75  TMIN_ATTRIBUTES  30 non-null     object
dtypes: float64(41), int64(1), object(34)
memory usage: 19.7+ KB

In [4]:
columns = list(seattle.columns)
print(columns)

['STATION', 'DATE', 'LATITUDE', 'LONGITUDE', 'ELEVATION', 'NAME', 'CDSD', 'CDSD_ATTRIBUTES', 'CLDD', 'CLDD_ATTRIBUTES', 'DP01', 'DP01_ATTRIBUTES', 'DP10', 'DP10_ATTRIBUTES', 'DP1X', 'DP1X_ATTRIBUTES', 'DSND', 'DSND_ATTRIBUTES', 'DSNW', 'DSNW_ATTRIBUTES', 'DT00', 'DT00_ATTRIBUTES', 'DT32', 'DT32_ATTRIBUTES', 'DX32', 'DX32_ATTRIBUTES', 'DX70', 'DX70_ATTRIBUTES', 'DX90', 'DX90_ATTRIBUTES', 'DYFG', 'DYFG_ATTRIBUTES', 'DYHF', 'DYHF_ATTRIBUTES', 'DYTS', 'DYTS_ATTRIBUTES', 'EMNT', 'EMNT_ATTRIBUTES', 'EMSD', 'EMSD_ATTRIBUTES', 'EMSN', 'EMSN_ATTRIBUTES', 'EMXP', 'EMXP_ATTRIBUTES', 'EMXT', 'EMXT_ATTRIBUTES', 'FZF0', 'FZF0_ATTRIBUTES', 'FZF1', 'FZF1_ATTRIBUTES', 'FZF2', 'FZF2_ATTRIBUTES', 'FZF3', 'FZF3_ATTRIBUTES', 'FZF5', 'FZF5_ATTRIBUTES', 'FZF6', 'FZF6_ATTRIBUTES', 'FZF7', 'FZF7_ATTRIBUTES', 'FZF8', 'FZF8_ATTRIBUTES', 'HDSD', 'HDSD_ATTRIBUTES', 'HTDD', 'HTDD_ATTRIBUTES', 'PRCP', 'PRCP_ATTRIBUTES', 'SNOW', 'SNOW_ATTRIBUTES', 'TAVG', 'TAVG_ATTRIBUTES', 'TMAX', 'TMAX_ATTRIBUTES', 'TMIN', 'TMIN_ATTRIBUTES']

You can find the meaning of the columns/general schema in the [GSOY README](https://www.ncei.noaa.gov/pub/data/metadata/documents/GSOYReadme.txt)

*NOTE:* For this dataset, I think that the word "precipitation" implies anything that's not snow (sleet, hail, mostly rain), but I'll attempt to figure that out for sure with some obvious tests like: *"can the total precipiation be lower than the total snowfall?"* and whatnot.

The columns (so-called *"data types"*) I would like to pay attention to are:
- `PRCP`: total annual precipitation in inches
- `SNOW`: total annual snowfall in inches
- `DYFG`: number of days with fog
- `DYHF`: number of days with "heavy" fog
- `DYTS`: number of days with thunderstorms
- `EMXP`: highest daily total of precipitation in inches
- `DATE`: year
- `DP10`: number of days with over 0.10 inches of unspecified precipitation, probably rain w/o snow
- `DP1X`: number of days with over 1.00 inches of unspecified precipitation, probably rain w/o snow
- `DSNW`: number of days with over 1.00 inches of snowfall

In [5]:
columns_selection = [
                     "DATE",
                     "PRCP",
                     "SNOW",
                     "DYFG",
                     "DYHF",
                     "DYTS",
                     "EMXP",
                     "DP10",
                     "DP1X",
                     "DSNW"
                    ]

In [6]:
seattle[columns_selection]

    DATE    PRCP   SNOW  DYFG  DYHF  DYTS   EMXP   DP10  DP1X  DSNW
0   1987   752.1    0.0   NaN   NaN   NaN   40.4   66.0   4.0   0.0
1   1988   820.0    0.0   NaN   NaN   NaN   51.3   83.0   4.0   0.0
2   1990     NaN    NaN   NaN   NaN   NaN    NaN    NaN   NaN   NaN
3   1991   822.9    0.0   NaN   NaN   NaN   48.8   78.0   2.0   0.0
4   1992   763.6   50.0   NaN   NaN   NaN   37.1   86.0   2.0   2.0
5   1993   789.9    0.0   NaN   NaN   NaN   36.6   89.0   2.0   0.0
6   1994   849.8    0.0   NaN   NaN   NaN   38.9   90.0   4.0   0.0
7   1995  1054.6    0.0   NaN   NaN   NaN   37.1  101.0   3.0   0.0
8   1996     NaN    NaN   NaN   NaN   NaN    NaN    NaN   NaN   NaN
9   2000   731.1    NaN   NaN   NaN   NaN   29.7   84.0   1.0   NaN
10  2001   935.7    NaN   NaN   NaN   NaN   46.2   90.0   7.0   NaN
11  2002   722.6    NaN   NaN   NaN   NaN   37.3   76.0   3.0   NaN
12  2003     NaN    NaN   NaN   NaN   NaN    NaN    NaN   NaN   NaN
13  2004   793.9    NaN   NaN   NaN   NaN   43.2   79.0   5.0   NaN
14  2005   878.4    NaN   NaN   NaN   NaN   39.1   91.0   2.0   NaN
15  2006  1144.8    NaN   NaN   NaN   NaN   55.1   96.0   9.0   NaN
16  2007   809.1    NaN   NaN   NaN   NaN  105.4   89.0   2.0   NaN
17  2008   774.7    NaN   NaN   NaN   NaN   31.2   84.0   2.0   NaN
18  2009   908.3   54.0   NaN   NaN   NaN   28.7   87.0   3.0   1.0
19  2010  1082.7   96.0   NaN   NaN   NaN   57.2  112.0   4.0   1.0
20  2011   871.8   64.0   NaN   NaN   NaN   46.7   93.0   3.0   1.0
21  2012  1191.1  196.0  42.0   NaN   4.0   66.0  122.0   5.0   3.0
22  2013   756.1   23.0  65.0   NaN   5.0   38.9   80.0   3.0   0.0
23  2014  1188.1   51.0  72.0   1.0   4.0   36.3  108.0   9.0   1.0
24  2015  1000.1    0.0  78.0  10.0   9.0   55.4   85.0   4.0   0.0
25  2016  1145.1   35.0  61.0   3.0   5.0   44.7  115.0   7.0   0.0
26  2017  1139.0  101.0  57.0   2.0   5.0   46.0   95.0   8.0   3.0
27  2018   947.5   20.0  65.0   9.0   5.0   42.4   95.0   3.0   0.0
28  2019   795.5  291.0  45.0   2.0   3.0   67.1   88.0   2.0   5.0
29  2020  1132.5  102.0  54.0   6.0   4.0   55.6  110.0   6.0   2.0
30  2021  1017.3  361.0  32.0   2.0   3.0   45.0  106.0   3.0   5.0
31  2022   968.3   49.0  46.0   8.0   2.0   41.9   87.0   7.0   1.0
32  2023     NaN    NaN  35.0   5.0   4.0    NaN    NaN   NaN   NaN